/* home css */
.banner{
  height: 50vh;
  background: linear-gradient(to right, #78dae3, #ddd, #9daa34);
  display: flex;
  justify-content: center;
  align-items: center;
}



/* product card css */

.productcard img{
  height: 12rem;
  object-fit: contain;
}

.productcard img:hover{
  transform: scale(1.2);
  transition: all 5s ease-in-out;
}


/* cart css */

.cart img{
  width: 4rem;
  height: 4rem;
  object-fit: contain;
}